.col-container {
  display: table;
  width: 100%;
  border:  solid 1px #f2f2f2;
  //border-left: solid 1px rgb(197, 190, 160);
  // border-right: solid 1px rgb(197, 190, 160);
  border-bottom: 1px solid lightgrey
}
.col_info {
  border-right: 1px solid lightgrey
}
