.sticky {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    background-color: #f8f8f8;
    z-index: 2;
    margin: auto;
  }
