.sticky {
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  background-color: #f8f8f8;
  z-index: 2;
  margin: auto;
  padding-right: 10px;
}
.header-group {
  background-color: #f8f8f8;
}

.group-week-template {
  min-width: 1000px;
  overflow-x: scroll;
  height: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.fixed-header {
  min-width: 1000px;
}
